* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins";
  font-size: 20px;
}

/* similar styling content  */

section{
  padding: 70px 0;
}

.container{  
/*  max-width: 1300px;*/
  padding: 0 80px;
  margin: auto;
}


.section-title {
  color: hsl(9, 100%, 62%);
  font-size: 0.875rem;
  font-weight: 600;
  padding: 5px 20px;
  background: hsla(9, 100%, 62%, 0.1);
  width: max-content;
  border-radius: 50px;
  margin-inline: auto;
  margin-bottom: 15px;
}

.section-subtitle {
  text-align: center;
  margin-bottom: 50px;
  font-size: 1.5rem;
}

/* End similar styling content  */


.logo h3{
    font-size: 40px;
}

.logo h3 span {
  font-size: 40px;
  color: hsl(9, 100%, 62%);
}


header {
  padding: 20px 0;
  position: fixed;
  z-index: 9999;
  width: 100%;
  background-color: white;
  box-shadow: 0 3px 10px hsla(0, 0%, 0%, 0.3);
}

header .container {
  padding: 0 50px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  font-weight: 600;
}


.navbar a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

nav li a:hover {
    color: #fff;
    background-color: hsl(9, 100%, 62%);
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
}

.navbar-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.icon img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}


.hero {
  padding-top: 200px;
  height: 100vh;
  background: hsl(192, 24%, 96%);
}

.hero-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 500px;
}

.hero-subtitle {
  color: rgb(1, 39, 1);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
}

.hero-title {
  padding: 10px 0 35px 0;
  font-size: 50px;
  line-height: 1;
}

.hero-text {
  color: hsl(200, 15%, 43%);
  font-size: 0.875rem;
  line-height: 1.5;
  padding-left: 15px;
  border-left: 1px solid;
  margin-bottom: 30px;
}

.hero-left {
    flex: 1;
    
}

.hero-right {
    flex: 1;
}

.hero-right img {
    width: 100%;
    width: 600px;
    height: 600px;
    object-fit: contain;

/*    border: 1px solid black;*/
    /*border-radius: 7px;
    box-shadow: 0 0 10px rgba(13, 12, 12, 0.674);*/
}

.btn {
    background-color: hsl(9, 100%, 62%);
    border: 1px solid hsl(9, 100%, 62%);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

.hero-btn {
  border-radius: 40px;
}

.btn:hover {
  color: hsl(9, 100%, 62%);
  background: none;
}


/* About styling */
.about {
  min-height: 100vh;
}


.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
}

.about-left {
  text-align: justify;
  margin-right: 100px;
  padding-bottom: 0;
  flex: 1;
  margin-top: -40px;
}

.about-left p {
  margin-bottom: 0;
  padding-right: 80px;
  line-height: 2rem;
}

/*.about-right {
  margin-right: 1;
}*/

.about-right img {
  max-width: 100%;
  width: 400px;
  height: 400px;
  object-fit: cover;
/*  border-radius: 45px;*/
  box-shadow: 0 0 10px hsla(0, 0%, 12%, 0.574);
}

.about-btn {
  margin-top: -100px;
  padding-top: -20px;
}


/* Services styling */
.services {
  background: hsl(192, 24%, 96%);
}

.services-list {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  gap: 30px;
}

.service-card {
  position: relative;
  padding: 40px 30px;
  text-align: center;
  background: hsl(0, 0%, 100%);
}

.service-card .card-icon {
  width: max-content;
  margin-inline: auto;
  margin-bottom: 20px;
}

.service-card .icon img{
  width: 70px;
  height: 70px;
}

.service-card .card-text {
  color: hsl(200, 15%, 43%);
  font-size: 0.875rem;
  line-height: 1.8;
  margin-bottom: 25px;
}

.service-card .card-title {
  margin-bottom: 15px;
}





/* Contact styling */

.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.contact .contact-content .column{
  width: calc(50% - 30px);
}
.contact .contact-content .text{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.contact .contact-content .left p{
  text-align: justify;
}
.contact .contact-content .left .icons{
  margin: 10px 0;
}
.contact .contact-content .row{
  display: flex;
  height: 65px;
  align-items: center;
}
.contact .contact-content .row .info{
  margin-left: 30px;
}
.contact .contact-content .row i{
  font-size: 25px;
  color: crimson;
}
.contact .contact-content .info .head{
  font-weight: 500;
}
.contact .contact-content .info .sub-title{
  color: #333;
}
.contact .right form .fields{
  display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}
.contact .right form .textarea{
  height: 80px;
  width: 100%;
}
.contact .right form .name{
  margin-right: 10px;
}
.contact .right form .email{
  margin-left: 10px;  
}
.contact .right form .field input,
.contact .right form .textarea textarea{
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
  border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
  padding-top: 10px;
  resize: none;
}
.contact .right form .button{
  height: 47px;
  width: 170px;
}
.contact .right form .button button{
  width: 100%;
  height: 100%;
  border: 2px solid hsl(9, 100%, 62%);
  background: hsl(9, 100%, 62%);
  color: #fff;
  outline: none;
  font-size: 20px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.contact .right form .button button:hover{
  color: hsl(9, 100%, 62%);
  background: none;
}



/* Footer styling */
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  width: 100%;
  background-color: hsl(229, 17%, 19%);
  color: white;
}

footer a {
  color: hsl(9, 100%, 62%);
  font-weight: 500;
  text-decoration: none;
}



@media (max-width: 480px) {

  * {
      font-size: 18px;
    }


    .navbar-right, .navbar-left {
      display: none;
    }










  .section-title {
    color: hsl(9, 100%, 62%);
    font-size: 0.70rem;
    font-weight: 600;
    padding: 5px 20px;
    background: hsla(9, 100%, 62%, 0.1);
    width: max-content;
    border-radius: 50px;
    margin-inline: auto;
    margin-bottom: 15px;
  }

.section-subtitle {
    text-align: center;
    margin-bottom: 30px;
    font-size: 1rem;
    padding-bottom: 0;
  }

  .container{  
    padding: 0 60px;
    margin: auto;
  }

  .hero {
    padding-top: 265px;
    height: 80vh;
  }

  .hero-title {
    padding: 30px 0 35px 0;
    font-size: 40px;
    line-height: 1;
  }

  .hero-subtitle {
    color: rgb(1, 39, 1);
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
  }

  .hero-text {
    color: hsl(200, 15%, 43%);
    font-size: 0.65rem;
    line-height: 1.5;
    padding-left: 15px;
    border-left: 1px solid;
    margin-bottom: 30px;
  }

  .hero-right {
    display: none;
  }



  .about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
  }

  .about-left {
    text-align: justify;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 20px;
    flex: 1;
  }

  .about-left p {
    margin-bottom: 50px;
    padding-right: 0;
    font-size: 1rem;
  }

  .about-right img {
    width: 300px;
    height: 300px;
    margin-top: -20px;
  }

  .about-btn {
    margin-top: 30px;
  /*  padding-top: -20px;*/
  }


  .services-list {
    flex-direction: column;
  }

  .service-card .card-text {
    font-size: 0.75rem;
  }

  .service-card .card-title {
    font-size: 0.9rem;
  }


  .contact .contact-content {
    flex-direction: column;
    gap: 15px;
  }

  .contact .contact-content .column{
    width: calc(100% - 10px);
  }

  .contact .contact-content .text{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .contact .contact-content .row i{
    font-size: 20px;
  }

  .contact .right form .button button{
    border: 1px solid hsl(9, 100%, 62%);
    font-size: 17px;
    font-weight: 300;
  }


  footer{
    padding: 0.8rem 2rem;
    width: 100%;
  }

  footer p {
    font-size: 15px;
  }
  
}



/* Media Query for low resolution  Tablets, Ipads */ 
/*@media (min-width: 481px) and (max-width: 767px) { 
     
} */
  
/* Media Query for Tablets Ipads portrait mode */ /*
@media (min-width: 768px) and (max-width: 1024px){ 
    
} */
  
/* Media Query for Laptops and Desktops */ 
/*@media (min-width: 1025px) and (max-width: 1280px){ 
     
}*/ 
  
/* Media Query for Large screens */ 
/*@media (min-width: 1281px) { 
    
}*/ 
