* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  font-size: 20px;
}


/* similar styling content  */

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
    background-color: #7D141D;
    padding: 10px 12px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    color: #fff;
    border-radius: 40px;
}

.btn:hover {
  color: #7D141D;
  background: none;
  border: 1px solid #7D141D;
}



.container{  
  max-width: 2000px;
  padding: 70px 100px;
  margin: auto;
}

.section-title {
  color: #FF1E27;
  font-size: 18px;
  font-weight: 600;
  padding: 5px 20px;
  background: rgba(255, 30, 37, 0.1);
  width: max-content;
  border-radius: 50px;
  margin-inline: auto;
  margin-bottom: 15px;
}

.section-subtitle {
  text-align: center;
  margin-bottom: 30px;
  font-size: 1.5rem;
}



/* End similar styling content  */



header {
  height: 70px;
  padding: 10px 100px;
  position: fixed;
  z-index: 9999;
  width: 100%;
  background-color: white;
  box-shadow: 0 3px 10px hsla(0, 0%, 0%, 0.3);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a{
    font-size: 2rem;
    color: #000;
}

.navbar .logo span {
  color: #7D141D;
  font-size: 2rem;
}


.navbar-links {
  display: flex;
  gap: 50px;
  font-weight: 600;
}

.navbar a {
  color: black;
}

.navbar a:hover {
    color: #ff5a3d;
}

.navbar-socials {
    display: flex;
    gap: 1rem;
}

.hamburger{
  position:relative;
  display:none;
  width:35px;
  cursor:pointer;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  background:none;
  outline:none;
  border:none
}

.hamburger .bar,.hamburger:after,.hamburger:before{
  content:'';
  display:block;
  width:100%;
  height:3px;
  background-color:#000;
  margin:6px 0px;
  -webkit-transition:0.4s;
  transition:0.4s
}

.hamburger.is-active:before{
  -webkit-transform:rotate(-45deg) translate(-7px, 4px);
  transform:rotate(-45deg) translate(-7px, 4px)
}

.hamburger.is-active:after{
  -webkit-transform:rotate(45deg) translate(-8px, -6px);
  transform:rotate(45deg) translate(-8px, -6px)
}

.hamburger.is-active .bar{
  opacity:0
}

.hamburger_menu {
  position:fixed;
  top:0;
  left:100%;
  width:100%;
  display:none;
  z-index:0;
  background-color: rgba(0, 0, 10, 0.7);
  margin-top:70px;
  -webkit-transition:0.4s;
  transition:0.4s
}

.hamburger_menu.is-active{
   left: 0;
}

.hamburger_menu a{
  display:block;
  width:30%;
  max-width:200px;
  margin: 10px auto;
  text-align:center;
  padding: 10px 5px;
  color:#FFF;
  text-decoration:none;
  font-weight: 600;
  font-size: 20px;
  border-radius: 50px;
}

.hamburger_menu a.active, .hamburger_menu a:hover{
  color:#ff5a3d;
}


/* HERO STYLE */

.hero {
  background: hsl(192, 24%, 96%);
}

.hero-content {
  padding-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-subtitle {
  color: #383838;
  font-weight: 500;
  letter-spacing: 1.5px;
}

.hero-title {
  padding-top: 10px;
  padding-bottom: 35px;
  font-size: 60px;
}

.hero-text {
  color: hsl(200, 15%, 43%);
  line-height: 1.5;
  padding-left: 15px;
  border-left: 1px solid gray;
  margin-bottom: 30px;
}


.hero-right img {
    width: auto;
    height: auto;
    object-fit: contain;
}

.hero-contact {
  display: flex;
  align-items: center;
  gap: 1.7rem;
}


.hero-socials {
  display: none;
}




/* About styling */

.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.about-left {
  flex: 1;
}

.about-left p {
  text-align: justify;
  line-height: 2rem;
  padding-bottom: 35px;
}


.about-right img {
  max-width: 100%;
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
  background-color: gray;
  box-shadow: 0 0 10px #1f1f1f92;
}



/* Services styling */
.services {
  background: #f2f6f7;
}

.services-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.service-card {
  position: relative;
  padding: 40px 30px;
  background: hsl(0, 0%, 100%);
  cursor: pointer;
  border-radius: 20px;
}

.service-card:hover {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.service-card .card-icon {
  width: max-content;
  margin-inline: auto;
  margin-bottom: 20px;
  width: 60px;
  height: 60px;
}

.service-card .card-title {
  margin-bottom: 15px;
  text-align: center;
}

.service-card .card-text {
  color: #5d737e;
  line-height: 1.8;
  margin-bottom: 25px;
  text-align: justify;
}





/* Contact styling */

.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.contact-content .column{
  width: calc(50% - 30px);
}


.contact-content .text-head{
  font-weight: 600;
  margin-bottom: 10px;
}

.contact-content .left p{
  text-align: justify;
  line-height: 1.5rem;
}

.contact-content .left .icons{
  margin: 10px 0;
}

.contact-content .row{
  display: flex;
  height: 70px;
  align-items: center;
}

.contact .contact-content .row .info{
  margin-left: 20px;
}

.contact .contact-content .info .head{
  font-size: 18px;
  font-weight: bold;
}



.contact .right form .fields{
  display: flex;
}

.contact .right form .field,
.contact .right form .fields .field{
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}

.contact .right form .textarea{
  height: 80px;
  width: 100%;
}

.contact .right form .name{
  margin-right: 10px;
}

.contact .right form .email{
  margin-left: 10px;  
}

.contact .right form .field input,
.contact .right form .textarea textarea{
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  transition: all 0.3s ease;
}

.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
  border-color: #b3b3b3;
}

.contact .right form .textarea textarea{
  padding-top: 10px;
  resize: none;
}


/* Footer styling */
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  background-color: #282b39;
  color: white;
}

footer a {
  color: hsl(9, 100%, 62%);
  font-weight: 600;
}





/* MOBILE RESPONSIVE */

@media screen and (max-width: 767px) {

  * {
      font-size: 16px;
    }

    .btn {
      padding: 8px 10px;
      font-size: 14px;
    }

    .container {
      padding: 60px;
    }

    header {
      padding: 10px 50px;
    }

   .navbar-socials, .navbar-links {
      display: none;
    }

    .hamburger, .hamburger_menu {
      display: block;
    }


  .section-title {
      font-size: 12px;
    }

  .section-subtitle {
    margin-bottom: 20px;
    font-size: 1rem;
  }

  .hero-content {
    padding-top: 100px;
    flex-direction: column;
    align-items: flex-start;
  }

  .hero-title {
    font-size: 40px;
  }

  .hero-subtitle {
    font-size: 15px;
  }


  
  .hero-right img {
    margin-top: 2rem;
    width: 250px;
    height: 250px;
  }


  .hero-contact .hero-socials {
    display: flex;
    align-items: center;
    padding-top: 10px;
    gap: 1rem;    
  }


  .about-content {
    flex-direction: column;
    gap: 50px;
  }

  .about-left p {
    padding-bottom: 20px;
  }

  .about-right img {
    width: auto;
    height: auto;
  }



  .services-list {
    flex-direction: column;
  }

  .service-card .card-icon{
    width: 45px;
    height: 45px;
  }

  
  .contact .contact-content {
    flex-direction: column;
    gap: 15px;
  }

  .contact .contact-content .column{
    width: calc(100% - 10px);
  }


  footer{
    padding: 10px;
  }

  
}




/* Media Query for low resolution  Tablets, Ipads */ 
@media (min-width: 768px) and (max-width: 1023px) { 
  * {
      font-size: 18px;
    }

  .container {
    padding: 70px;
  }


  .navbar-socials, .navbar-links {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .hamburger_menu.is-active {
    left: 20%;
  }

  .hamburger_menu {
    display: block;
    width: 70%;
  }

  .hero-content {
    padding-top: 100px;
    flex-direction: column;
  }


  .hero-title {
    font-size: 50px;
  }

  .hero-subtitle {
    font-size: 16px;
  }


  .hero-contact .hero-socials {
    display: flex;
    align-items: center;
    padding-top: 10px;
    gap: 1rem;    
  }


  .hero-right img {
    margin-top: 2rem;
    width: 300px;
    height: 300px;
  }
 
  .about-content {
    flex-direction: column;
    gap: 50px;
  }
  
  .about-right img {
    width: 300px;
    height: 300px;
  }


  .services-list {
    flex-direction: column;
  }

  .service-card .card-icon {
    width: 50px;
    height: 50px;
  }


  .contact .contact-content {
    flex-direction: column;
    gap: 20px;
  }


  .contact .contact-content .column{
    width: calc(100% - 10px);
  }


} 



  
/* Media Query for Tablets Ipads portrait mode */ 
/*@media (min-width: 769px) and (max-width: 1024px){ 

  .section-title {
    font-size: 0.8rem;
    font-weight: 600;
  }

  .section-subtitle {
    font-size: 1.3rem;
  }

  .navbar-links {
    gap: 35px;
    font-size: 18px;
    font-weight: 600;
  }

  .navbar-socials {
    gap: 0.7rem;
  }

  .hero-subtitle {
    font-size: 18px;
    font-weight: 400;
  }

  .hero-title {
    font-size: 40px;
  }

  .hero-text {
    font-size: 0.8rem;
  }

  .hero-right img {
    width: 100%;
    width: 400px;
    height: 400px;
    object-fit: contain;
  }


  .about-left p {
    line-height: 1.5rem;

  }


  .about-right img {
    width: 350px;
    height: 350px;

  }

  .about-btn {
  margin-top: 40px;
  }

  .service-card .card-text {
  font-size: 0.8rem;
  line-height: 1.7;
  }

  .service-card .card-title {
    margin-bottom: 15px;
  }
  
  footer p, a {
    font-size: 18px;
  }

  
}*/
  
/* Media Query for Laptops and Desktops */ 
/*@media (min-width: 1025px) and (max-width: 1280px){ 
     
}*/ 
  
/* Media Query for Large screens */ 
/*@media (min-width: 1281px) { 
    
}*/ 
